body, h1, h2, p, ul{
  margin: 0;
  padding: 0;
}

.header{
    background-color: azure;
    height: 100px;
    width: auto;
    display: flex;
}

.pic{
    height: 100px;
    width: auto;
    background-size: contain;
}

.nav ul{
  
  display: flex;
  justify-content: center;
  list-style: none;
  line-height: 75px;
}

.nav li{
  margin: 15px;
}

.nav a{
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.nav a:hover{
  opacity: 0.5;
}

.main{
  position: relative;
  background-color: antiquewhite;
  height: 800px;
  width: auto;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
    
}

.text-main{
  position: relative;
  height: 800px;
  width: 80%;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  background-image: url("02.png");
  background-repeat: no-repeat;/*リピートなし*/
  background-size:cover;
  border: 1px solid #ddd;
}

.footer{
    background-color:darkcyan;
    height: 200px;
    margin: auto;
}

.choise{
  position: absolute;
  height: 700px;
  width: auto;
  bottom: 30px;
  left: 520px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(214, 220, 245, 0.356);
}

.koutu{
  position: absolute;
  height: 18%;
  width: 22%;
  bottom: 0;
  left: 250px;
  box-sizing: border-box;
  background-color: rgba(214, 220, 245, 0.356);
}

.sisetu{
  position: absolute;
  height: 18%;
  width: 22%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(214, 220, 245, 0.356);
}

.imageshow{
  position: absolute;
  height: 40%;
  width: 30%;
  top: 60px;
  left: 50px;
  box-sizing: border-box;
}

.map{
  position: absolute;
  top: 450px;
  left: 50px;
}

h2,h4{
  color:aliceblue;
  background-color: cadetblue;
  border: 1px solid #26337c;
}
